.img_google {
    margin: 2px;
    width: 90%;
}


p {
    align-items: center;
    text-align: center;
    margin: 2px;
}

.box {
    text-align: center;
    background-color: rgb(235, 232, 232);
    border: 20px black;
    width: 90%;
    margin: auto;
}

input {
    border: 2px black;
    text-align: center;
    border-radius: 2px;
    margin: 2px;
}

.container {
    width: 90%;
    margin: 0 auto; 
    height: 90px;
    vertical-align: middle;
    align-items: center;
}

.box2 {

    width: 37%;
    float: left;
    background-color: #7EE5DA;
    margin: 2px;
}

.box3 {
    width: 25%;
    background-color: #70CCC2;
    text-align: center;
    float: left;
    margin: 2px;
}

.box4 {
    text-align: center;
    width: 37%;
    float: left;
    background-color: #62B3AA;
    margin: 2px;
}

.box5 {
    width: 90%;
    height: 20;
    margin: auto;
    align-items: center;
    
}